* {
    margin: 0;
    padding: 0;
}

button {
    all: unset;
    display: flex;
    margin: 10rem auto;
    padding: 0.5rem 2.5rem;
    text-transform: uppercase;
    font-weight: 800;
    border: 1px solid rgb(66, 0, 66);
    color:rgb(66, 0, 66);
    background-color:rgb(66, 0, 66, 0.3);
    border-radius: 1rem;
    align-items: center;
    top: 50%;
}

button:hover {
    cursor: pointer;
    background-color: rgb(66, 0, 66);
    color: rgb(255, 255, 255);
    transition: 500ms;
}